source/pug/pages/index.pug
extends ../main/base

block variables
	-let title = 'Main'

block content
	.main 
		.main__slider 
			.main__slider--inner 
				.main__slider--navs 
					.main__slider--nav
						img(src="/images/arrow.svg", alt="")
					.main__slider--nav.main__slider--nav_reverse
						img(src="/images/arrow.svg", alt="")
				.main__slider--container 
					.main__slider--item 
						img(src="/images/s1.png", alt="")
					.main__slider--item 
						img(src="/images/s2.png", alt="")
					.main__slider--item 
						img(src="/images/s3.png", alt="")
	.arrivals 
		.arrivals__headline NEW ARRIVALS
		.arrivals__container 
			.arrivals__item 
				.arrivals__item--photo 
					img(src="/images/a1.png", alt="")
				.arrivals__item--name Pastel summer dress
				.arrivals__item--price 1200 UAH
				.arrivals__item--info 
					.arrivals__item--text Size:
					.arrivals__item--value XS
					.arrivals__item--value S
					.arrivals__item--value  M
					.arrivals__item--article #535728
				.arrivals__item--add 
					.arrivals__item--addcart ADD TO CART
					.arrivals__item--like 
						img(src="/images/likecart.svg", alt="")
			.arrivals__item 
				.arrivals__item--photo 
					img(src="/images/a2.png", alt="")
				.arrivals__item--name leather shoes
				.arrivals__item--price 1200 UAH
				.arrivals__item--info 
					.arrivals__item--text Size:
					.arrivals__item--value XS
					.arrivals__item--value S
					.arrivals__item--value  M
					.arrivals__item--article #535728
				.arrivals__item--add 
					.arrivals__item--addcart ADD TO CART
					.arrivals__item--like 
						img(src="/images/likecart.svg", alt="")
			.arrivals__item 
				.arrivals__item--photo 
					img(src="/images/a3.png", alt="")
				.arrivals__item--name grey trench
				.arrivals__item--price 1200 UAH
				.arrivals__item--info 
					.arrivals__item--text Size:
					.arrivals__item--value XS
					.arrivals__item--value S
					.arrivals__item--value  M
					.arrivals__item--article #535728
				.arrivals__item--add 
					.arrivals__item--addcart ADD TO CART
					.arrivals__item--like 
						img(src="/images/likecart.svg", alt="")
			.arrivals__item 
				.arrivals__item--photo 
					img(src="/images/a4.png", alt="")
				.arrivals__item--name Minimal accessorie
				.arrivals__item--price 1200 UAH
				.arrivals__item--info 
					.arrivals__item--text Size:
					.arrivals__item--value XS
					.arrivals__item--value S
					.arrivals__item--value  M
					.arrivals__item--article #535728
				.arrivals__item--add 
					.arrivals__item--addcart ADD TO CART
					.arrivals__item--like 
						img(src="/images/likecart.svg", alt="")

dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Weesby - Main</title>
    <meta charset="utf-8">
    <meta name="keywords">
    <meta name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="js/main.min.js"></script>
  </head>
  <body>
    <div class="nav"> 
      <div class="nav__top"> 
        <div class="nav__top--search"> 
          <input type="text" placeholder="Search">
          <div class="nav__top--action"> <img src="/images/search.svg" alt=""></div>
        </div>
        <div class="nav__top--links"> <a class="nav__top--link" href="#">Login</a><a class="nav__top--link" href="#">Register</a></div>
        <div class="nav__top--actions"> 
          <div class="nav__top--like"> <img src="/images/like.svg" alt=""></div>
          <div class="nav__top--cart"><img src="/images/cart.svg" alt="">
            <div class="nav__top--counter">0</div>
          </div>
        </div>
      </div>
      <div class="nav__bottom"> <a class="nav__bottom--logo" href="/"> <img src="/images/logo.svg" alt=""></a>
        <div class="nav__bottom--links"> <a class="nav__bottom--link" href="#">CATALOG</a><a class="nav__bottom--link nav__bottom--link_special" href="#">NEW YEAR</a><a class="nav__bottom--link" href="#">SALE</a><a class="nav__bottom--link" href="#">ABOUT</a><a class="nav__bottom--link" href="#">BLOG</a><a class="nav__bottom--link" href="#">CONTACT</a></div>
        <div class="nav__bottom--langs"> 
          <div class="nav__bottom--lang active">EN</div>
          <div class="nav__bottom--lang">UA</div>
        </div>
      </div>
      <div class="nav__cart"> 
        <div class="nav__cart--top"> 
          <div class="nav__cart--text">Моя корзина  </div>
          <div class="nav__cart--close"> <img src="/images/close.svg" alt=""></div>
        </div>
        <div class="nav__cart--list"> </div>
        <div class="nav__cart--total"> 
          <div class="nav__cart--text">Total</div>
          <div class="nav__cart--price">0 UAH</div>
        </div>
        <div class="nav__cart--action">proceed checkout</div>
      </div>
    </div>
    <div class="main"> 
      <div class="main__slider"> 
        <div class="main__slider--inner"> 
          <div class="main__slider--navs"> 
            <div class="main__slider--nav"><img src="/images/arrow.svg" alt=""></div>
            <div class="main__slider--nav main__slider--nav_reverse"><img src="/images/arrow.svg" alt=""></div>
          </div>
          <div class="main__slider--container"> 
            <div class="main__slider--item"> <img src="/images/s1.png" alt=""></div>
            <div class="main__slider--item"> <img src="/images/s2.png" alt=""></div>
            <div class="main__slider--item"> <img src="/images/s3.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="arrivals"> 
      <div class="arrivals__headline">NEW ARRIVALS</div>
      <div class="arrivals__container"> 
        <div class="arrivals__item"> 
          <div class="arrivals__item--photo"> <img src="/images/a1.png" alt=""></div>
          <div class="arrivals__item--name">Pastel summer dress</div>
          <div class="arrivals__item--price">1200 UAH</div>
          <div class="arrivals__item--info"> 
            <div class="arrivals__item--text">Size:</div>
            <div class="arrivals__item--value">XS</div>
            <div class="arrivals__item--value">S</div>
            <div class="arrivals__item--value"> M</div>
            <div class="arrivals__item--article">#535728</div>
          </div>
          <div class="arrivals__item--add"> 
            <div class="arrivals__item--addcart">ADD TO CART</div>
            <div class="arrivals__item--like"> <img src="/images/likecart.svg" alt=""></div>
          </div>
        </div>
        <div class="arrivals__item"> 
          <div class="arrivals__item--photo"> <img src="/images/a2.png" alt=""></div>
          <div class="arrivals__item--name">leather shoes</div>
          <div class="arrivals__item--price">1200 UAH</div>
          <div class="arrivals__item--info"> 
            <div class="arrivals__item--text">Size:</div>
            <div class="arrivals__item--value">XS</div>
            <div class="arrivals__item--value">S</div>
            <div class="arrivals__item--value"> M</div>
            <div class="arrivals__item--article">#535728</div>
          </div>
          <div class="arrivals__item--add"> 
            <div class="arrivals__item--addcart">ADD TO CART</div>
            <div class="arrivals__item--like"> <img src="/images/likecart.svg" alt=""></div>
          </div>
        </div>
        <div class="arrivals__item"> 
          <div class="arrivals__item--photo"> <img src="/images/a3.png" alt=""></div>
          <div class="arrivals__item--name">grey trench</div>
          <div class="arrivals__item--price">1200 UAH</div>
          <div class="arrivals__item--info"> 
            <div class="arrivals__item--text">Size:</div>
            <div class="arrivals__item--value">XS</div>
            <div class="arrivals__item--value">S</div>
            <div class="arrivals__item--value"> M</div>
            <div class="arrivals__item--article">#535728</div>
          </div>
          <div class="arrivals__item--add"> 
            <div class="arrivals__item--addcart">ADD TO CART</div>
            <div class="arrivals__item--like"> <img src="/images/likecart.svg" alt=""></div>
          </div>
        </div>
        <div class="arrivals__item"> 
          <div class="arrivals__item--photo"> <img src="/images/a4.png" alt=""></div>
          <div class="arrivals__item--name">Minimal accessorie</div>
          <div class="arrivals__item--price">1200 UAH</div>
          <div class="arrivals__item--info"> 
            <div class="arrivals__item--text">Size:</div>
            <div class="arrivals__item--value">XS</div>
            <div class="arrivals__item--value">S</div>
            <div class="arrivals__item--value"> M</div>
            <div class="arrivals__item--article">#535728</div>
          </div>
          <div class="arrivals__item--add"> 
            <div class="arrivals__item--addcart">ADD TO CART</div>
            <div class="arrivals__item--like"> <img src="/images/likecart.svg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
